//$font-primary: 'loraregular';
$font-primary: 'loraregular';

$font-heading-link: 'Proxima Nova';

$font-heading-side: 'proxima_nova_scosfthin';

$font-heading-link-super: 'Montserrat';

$font-awesome: 'FontAwesome';