/*--------------------------------------------------------------
 Footer
 --------------------------------------------------------------*/
.mz-footer {
  background-color: #f4f4f7;
  border-top: 1px solid #efefef;
}
.footer-bottom {
  padding: 30px 0;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: #6b6b71;
  /*background-color: #1d1d1f;*/
  background-color: white;
  /*font-family: "Open Sans", sans-serif;*/
  /*text-transform: uppercase;*/
  letter-spacing: 0.8px;
}
.footer-bottom a {
  color: #b0afb3;
}
.footer-widget {
  padding-top: 50px;
}
.mz-footer .widget-title span {
  background-color: #f4f4f7;
}
.footer-wide {
  overflow: auto;
  text-align: center;
  background-color: white;
  padding-top: 3em;
}
.footer-wide .widget-title {
  position: initial;
  text-align: center;
}
.footer-wide .widget-title span {
  float: none;
  padding: 5px 15px;
  margin-bottom: 10px;
  font-size: 30px;
}
.footer-wide a {
  margin-left: 2em;
  margin-right: 2em;
}
.footer-wide .widget {
  padding: 0;
  border: none;
}
/* instagram widget support */
ul.instagram-pics li {
  width: 33.3%;
  padding: 0px 3px 5px;
  display: inline;
  float: left;
  overflow: hidden;
  border-bottom: none;
  margin: 0px;
}
.footer-wide ul.instagram-pics li {
  width: 12.5%;
  padding: 0px;
  background-color: #000;
}
/* for mobile */
@media (max-width: 768px) {
  .footer-wide ul.instagram-pics li {
    width: 50%;
    padding: 0px;
  }
}
.null-instagram-feed {
  position: relative;
}
.footer-wide .null-instagram-feed p a {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #6d6d6d;
  z-index: 1000;
  padding: 7px 30px;
  font-size: 12px;
  -webkit-box-shadow: 10px 10px 0px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 0px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 0px -4px rgba(0, 0, 0, 0.5);
}
.null-instagram-feed .clear {
  text-align: center;
}
.null-instagram-feed p a {
  display: inline-block;
  margin-top: 20px;
  border: 1px solid;
  border-color: #e6e6ea;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}
.null-instagram-feed p a:hover {
  color: #fff;
  background-color: #d0c5c1;
  border-color: #d0c5c1;
}
.footer-wide .widget.null-instagram-feed {
  margin-bottom: 0px;
  text-align: center;
  overflow: auto;
}
/* wordpress styling */
blockquote {
  position: relative;
  border: 0;
  padding: 0 0 0 50px;
  font-style: italic;
  line-height: 1.6;
}
blockquote:before {
  content: "\201D";
  color: #bfbfbf;
  font-size: 80px;
  position: absolute;
  left: -5px;
  top: 0;
  line-height: 1;
}
blockquote p {
  margin: 0;
}
